* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(.00838 * 100vw + 0px);
}
@media (max-width: 767px) {
  body {
    font-size: calc(.034 * 100vw + 0px);
  }
}

.wrapper {
  font-family: "Pragmatica";
  font-weight: 400;
  overflow: hidden;
  font-size: 1em;
  background-color: #000000;
  position: relative;
}

@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Book.eot");
  src: url("../fonts/Pragmatica-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Book.woff2") format("woff2"), url("../fonts/Pragmatica-Book.woff") format("woff"), url("../fonts/Pragmatica-Book.ttf") format("truetype"), url("../fonts/Pragmatica-Book.svg#Pragmatica-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Medium.eot");
  src: url("../fonts/Pragmatica-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Medium.woff2") format("woff2"), url("../fonts/Pragmatica-Medium.woff") format("woff"), url("../fonts/Pragmatica-Medium.ttf") format("truetype"), url("../fonts/Pragmatica-Medium.svg#Pragmatica-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Light.eot");
  src: url("../fonts/Pragmatica-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Light.woff2") format("woff2"), url("../fonts/Pragmatica-Light.woff") format("woff"), url("../fonts/Pragmatica-Light.ttf") format("truetype"), url("../fonts/Pragmatica-Light.svg#Pragmatica-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 2em 0;
}
.header.active .header__left, .header.active .header__toggle {
  opacity: 0;
  z-index: -1;
}
.header.effect .header__close {
  opacity: 1;
  z-index: 1;
}
.header.effect .header__action, .header.effect .header__center {
  opacity: 0;
  z-index: -1;
}
.header__container {
  max-width: 114.8em;
  width: 100%;
  padding: 0 0.95em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  width: 33.3%;
  text-align: left;
}
.header__company {
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__symbol {
  font-size: 0.8em;
  padding-left: 0.4em;
}
.header__center {
  width: 33.3%;
  text-align: center;
  transition: all 0.5s;
}
.header__toggle {
  margin: 0 0.95em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.header__toggle-burger span {
  display: block;
  width: 3em;
  height: 0.14em;
  background-color: #FFFFFF;
  margin-bottom: 0.51em;
  transition: all 0.5s;
}
.header__toggle-burger span:last-child {
  margin-bottom: 0;
}
.header__toggle-text {
  position: absolute;
  left: 0;
  opacity: 0;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.5s;
}
.header__toggle:hover .header__toggle-burger span:last-child {
  transform: translateX(1em);
}
.header__toggle:hover .header__toggle-text {
  left: 100%;
  opacity: 1;
  padding-left: 3em;
}
.header__right {
  width: 33.3%;
  text-align: right;
  position: relative;
}
.header__action {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.8s;
}
.header__close {
  cursor: pointer;
  display: inline-block;
  min-width: 1.4em;
  max-width: 1.4em;
  height: 1.4em;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  opacity: 0;
  z-index: -1;
  transition: all 0.8s;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50vw;
  height: 100%;
  background: rgba(30, 30, 30, 0.15);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  transition: all 0.8s;
  text-align: left;
  padding: 2.1em 3.5em;
}
.menu.open {
  left: 0;
}
.menu__close {
  display: inline-block;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s;
}
.menu__close:hover {
  color: #219653;
}
.menu__list {
  margin-top: 15em;
  position: relative;
}
.menu__item {
  display: block;
  width: 100%;
  padding-bottom: 0.5em;
}
.menu__link {
  text-decoration: none;
  font-size: 2.5em;
  line-height: 1.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.015em;
  transition: all 0.5s;
}
.menu__link.active {
  color: #219653;
}
.menu__link:hover {
  color: #219653;
}
.menu__listsub {
  position: absolute;
  max-width: 15em;
  right: 4.2em;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
}
.menu__listsub.open {
  opacity: 1;
}
.menu__itemsub {
  display: block;
  width: 100%;
  padding-bottom: 0.5em;
}
.menu__linksub {
  text-decoration: none;
  font-size: 1.4em;
  line-height: 1.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.015em;
  transition: all 0.5s;
}
.menu__linksub:hover {
  color: #219653;
}

.major {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.major.hide .major__background, .major.hide .major__content, .major.hide .major__networks, .major.hide .major__year {
  opacity: 0;
  z-index: -2;
}
.major__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.major__video video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.major__background {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  mix-blend-mode: multiply;
  transition: all 0.8s;
}
.major__stencil {
  position: absolute;
  left: 50%;
  top: 10.5em;
  width: 58%;
  height: 56%;
  transform: translate(-50%, 0);
  z-index: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.major__stencil svg {
  width: 100%;
  height: 100%;
}
.major__stencil:hover .major__play {
  opacity: 1;
  z-index: 1;
}
.major__content {
  position: absolute;
  left: 50%;
  top: 60.6%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 60em;
  width: 100%;
  padding: 0 0.95em;
  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  transition: all 0.8s;
}
.major__title {
  font-size: 5.7em;
  line-height: 94.6%;
  text-align: center;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.major__titlesub {
  max-width: 22em;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.48em;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.major__networks {
  position: absolute;
  bottom: 2.4em;
  right: 3.2em;
  z-index: 3;
  transition: all 0.8s;
}
.major__networks-item {
  display: block;
  width: 1.6em;
  height: 1.2em;
  display: block;
  margin-bottom: 1em;
  transition: all 0.5s;
}
.major__networks-item:last-child {
  margin-bottom: 0;
}
.major__networks-item:hover {
  opacity: 0.6;
}
.major__networks-icon {
  width: 100%;
  height: 100%;
}
.major__networks-icon svg {
  width: 100%;
  height: 100%;
  text-align: center;
}
.major__year {
  position: absolute;
  bottom: 2.1em;
  left: 3.2em;
  z-index: 3;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.8s;
}

.about {
  padding: 14.5em 0;
  text-align: center;
  position: relative;
}
@media (max-width: 767px) {
  .about {
    padding: 12.3em 0;
  }
}
.about__circle-one {
  position: absolute;
  right: 7.8em;
  top: 15.3em;
  background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
  width: 12.82em;
  height: 12.82em;
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 767px) {
  .about__circle-one {
    width: 7.2em;
    height: 7.2em;
    left: 14.7em;
    top: 64.9em;
  }
}
.about__circle-two {
  position: absolute;
  left: 16.2em;
  top: 27.5em;
  background: linear-gradient(130.42deg, #345C66 14.1%, #213734 45.52%, #020202 74.85%);
  width: 20.02em;
  height: 20.02em;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .about__circle-two {
    width: 11.15em;
    height: 11.15em;
    left: 2em;
    top: 9.5em;
    z-index: 0;
  }
}
.about__circle-three {
  position: absolute;
  right: -9.8em;
  top: 21.5em;
  background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
  width: 71.23em;
  height: 71.23em;
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .about__circle-three {
    width: 33.2em;
    height: 33.2em;
    left: 16.3em;
    top: 42.5em;
  }
}
.about__circle-four {
  position: absolute;
  left: -4.8em;
  top: 49.7em;
  background: linear-gradient(130.42deg, #73A79D 14.1%, #324C48 45.52%, #020202 74.85%);
  width: 37.3em;
  height: 37.3em;
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .about__circle-four {
    width: 20.8em;
    height: 20.8em;
    left: -10em;
    top: 31.2em;
  }
}
.about__circle-blur {
  position: absolute;
  left: -12.2em;
  top: 53.7em;
  width: 101em;
  height: 101em;
  border-radius: 50%;
  background: linear-gradient(130.42deg, rgba(73, 223, 195, 0.19) 14.1%, rgba(16, 75, 41, 0.19) 39.65%, rgba(2, 2, 2, 0.19) 64.9%);
  opacity: 0.8;
  filter: blur(159px);
  transform: rotate(60deg);
}
.about__container {
  max-width: 86em;
  width: 100%;
  padding: 0 0.95em;
  margin: 0 auto;
}
.about__title {
  position: relative;
  font-weight: 300;
  font-size: 15.8em;
  line-height: 79.6%;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 2.4em;
  }
}
.about__titlesub {
  padding-top: 0.04em;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .about__titlesub {
    padding-top: 0.08em;
  }
}
.about__set {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25em;
}
@media (max-width: 767px) {
  .about__set {
    padding-top: 5em;
  }
}
.about__unit {
  margin-top: 5em;
  width: 33.3%;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 767px) {
  .about__unit {
    width: 50%;
    padding: 1em;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 0;
    min-height: 13.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.about__unit:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.15em;
  height: 6.7em;
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  .about__unit:after {
    height: 100%;
  }
}
.about__unit:nth-child(3n+3):after {
  display: none;
}
@media (max-width: 767px) {
  .about__unit:nth-child(3n+3):after {
    display: block;
  }
}
@media (max-width: 767px) {
  .about__unit:nth-child(2n+2):after {
    display: none;
  }
}
@media (max-width: 767px) {
  .about__unit:nth-last-child(-n+2) {
    border-bottom: none;
  }
}
.about__unit:last-child {
  display: none;
}
@media (max-width: 767px) {
  .about__unit:last-child {
    display: block;
  }
}
.about__unit-num {
  font-size: 5.6em;
}
@media (max-width: 767px) {
  .about__unit-num {
    font-size: 5em;
  }
}
.about__unit-name {
  padding-top: 2.6em;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: -0.8px;
}
@media (max-width: 767px) {
  .about__unit-name {
    padding-top: 0.75em;
    font-size: 0.78em;
  }
}
.about__unit-link {
  border: 1px solid #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.76em;
  transition: all 0.5s;
}
.about__unit-link:hover {
  background-color: #FFFFFF;
  color: #000;
}

.speakers {
  padding: 14.5em 0;
  position: relative;
}
.speakers__circle-one {
  position: absolute;
  right: 48.5em;
  top: 24.6em;
  width: 12.82em;
  height: 12.82em;
  background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
  border-radius: 50%;
  z-index: 2;
}
.speakers__circle-two {
  position: absolute;
  left: 16.2em;
  top: 28.5em;
  width: 20.02em;
  height: 20.02em;
  background: linear-gradient(130.42deg, #345C66 14.1%, #213734 45.52%, #020202 74.85%);
  border-radius: 50%;
}
.speakers__circle-three {
  position: absolute;
  right: -11.8em;
  top: 11.5em;
  width: 71.23em;
  height: 71.23em;
  background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
  border-radius: 50%;
  z-index: 1;
}
.speakers__circle-four {
  position: absolute;
  left: -4.8em;
  top: 50.7em;
  width: 37.3em;
  height: 37.3em;
  background: linear-gradient(130.42deg, #73A79D 14.1%, #324C48 45.52%, #020202 74.85%);
  border-radius: 50%;
  z-index: 1;
}
.speakers__head {
  position: relative;
  z-index: 2;
  max-width: 81em;
  width: 100%;
  padding: 0 0.95em;
  margin: 0 auto;
  text-align: right;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.speakers__title {
  font-size: 5.35em;
  padding-right: 2.95em;
  line-height: 1em;
}
.speakers__titlesub {
  font-size: 5.35em;
}
.speakers__set {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -2em;
  padding-top: 17.4em;
}
.speakers__box {
  width: 16.66%;
  padding-left: 2em;
  padding-top: 2em;
}
.speakers__item {
  position: relative;
  padding-bottom: 141%;
}
.speakers__item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(33, 150, 83, 0) 0%, #219653 100%);
  opacity: 0;
  z-index: 1;
  transition: all 0.5s;
}
.speakers__item:hover:after {
  opacity: 1;
}
.speakers__item:hover .speakers__content {
  opacity: 1;
}
.speakers__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speakers__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
  padding: 2.5em 1em 2.5em 1.5em;
  color: #FFFFFF;
  min-height: 9.5em;
}
.speakers__name {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  padding-bottom: 0.4em;
}
.speakers__post {
  font-size: 1em;
}

.residents {
  padding: 14.5em 0;
  position: relative;
}
.residents__circle-one {
  position: absolute;
  right: 48.5em;
  top: 25.6em;
  width: 12.82em;
  height: 12.82em;
  background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
  border-radius: 50%;
  z-index: 2;
}
.residents__circle-two {
  position: absolute;
  left: 16.2em;
  top: 29.5em;
  width: 20.02em;
  height: 20.02em;
  background: linear-gradient(130.42deg, #345C66 14.1%, #213734 45.52%, #020202 74.85%);
  border-radius: 50%;
}
.residents__circle-three {
  position: absolute;
  right: -11.8em;
  top: 12.5em;
  width: 71.23em;
  height: 71.23em;
  background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
  border-radius: 50%;
  z-index: 1;
}
.residents__circle-four {
  position: absolute;
  left: -4.8em;
  top: 51.7em;
  width: 37.3em;
  height: 37.3em;
  background: linear-gradient(130.42deg, #73A79D 14.1%, #324C48 45.52%, #020202 74.85%);
  border-radius: 50%;
  z-index: 1;
}
.residents__head {
  position: relative;
  z-index: 2;
  max-width: 96em;
  width: 100%;
  padding: 0 0.95em;
  margin: 0 auto;
  text-align: right;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.residents__title {
  font-size: 5.35em;
  padding-right: 3.2em;
  line-height: 1em;
}
.residents__titlesub {
  font-size: 5.35em;
}
.residents__set {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 7.2em;
}
.residents__box {
  width: 25%;
  padding-top: 4em;
}
.residents__picture {
  position: relative;
  padding-bottom: 117%;
}
.residents__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.residents__content {
  padding: 2em 3.3em;
  color: #FFFFFF;
}
.residents__name {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  padding-bottom: 0.4em;
}
.residents__post {
  font-size: 1em;
}

.media {
  padding: 14.5em 0;
  position: relative;
  text-align: center;
}
@media (max-width: 767px) {
  .media {
    padding: 12.3em 0;
  }
}
.media__circle-one {
  position: absolute;
  right: 48.8em;
  top: -1.8em;
  width: 12.82em;
  height: 12.82em;
  background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .media__circle-one {
    width: 9.3em;
    height: 9.3em;
    right: 14.2em;
    top: 0;
    background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
  }
}
.media__circle-two {
  position: absolute;
  left: 15.2em;
  top: 1.5em;
  width: 20.02em;
  height: 20.02em;
  background: linear-gradient(130.42deg, #345C66 14.1%, #213734 45.52%, #020202 74.85%);
  border-radius: 50%;
  z-index: 1;
}
@media (max-width: 767px) {
  .media__circle-two {
    width: 14.4em;
    height: 14.4em;
    left: 17.2em;
    top: 22em;
    background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
  }
}
.media__circle-three {
  position: absolute;
  right: -11.2em;
  top: -15.5em;
  width: 71.23em;
  height: 71.23em;
  background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .media__circle-three {
    width: 36.24em;
    height: 36.24em;
    right: -13.8em;
    top: -4.5em;
    background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
    transform: rotate(-11.26deg);
  }
}
.media__circle-four {
  position: absolute;
  left: -5.8em;
  top: 23.7em;
  width: 37.3em;
  height: 37.3em;
  background: linear-gradient(130.42deg, #73A79D 14.1%, #324C48 45.52%, #020202 74.85%);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .media__circle-four {
    display: none;
  }
}
.media__container {
  max-width: 76.11em;
  width: 100%;
  padding: 0 0.95em;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.media__title {
  font-weight: 300;
  font-size: 15.8em;
  line-height: 79.6%;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .media__title {
    font-size: 2.33em;
  }
}
.media__set {
  padding-top: 25.8em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .media__set {
    padding-top: 10.5em;
    max-width: 21em;
    margin: 0 auto;
    align-items: flex-start;
  }
}
.media__box {
  width: 25%;
  position: relative;
  border-right: 1px solid #272727;
  border-top: 1px solid #272727;
}
.media__box:nth-child(-n+4) {
  border-top: none;
}
.media__box:nth-child(4n) {
  border-right: none;
}
@media (max-width: 767px) {
  .media__box {
    width: 50%;
    border: none;
    border-top: none;
  }
}
.media__logo {
  position: relative;
  padding-bottom: 54%;
}
.media__logo svg {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 70%;
  max-height: 70%;
  transform: translate(-50%, -50%);
}
.media__logo svg path {
  fill: #AEAEAE;
  fill-opacity: 0.36;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .media__logo svg {
    max-width: 60%;
    max-height: 60%;
  }
}
.media__logo:hover svg path {
  fill: #FFFFFF;
  fill-opacity: 1;
}
@media (max-width: 767px) {
  .media__logo {
    padding-bottom: 46%;
  }
}
.media__modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  max-width: 52em;
  width: 100%;
  max-height: 63em;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(30, 30, 30, 0.25);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  color: #FFFFFF;
  text-align: left;
  padding: 1.6em 1.4em 4.3em 4.2em;
  overflow: auto;
}
@media (max-width: 767px) {
  .media__modal {
    max-width: 100%;
    max-height: 100%;
    padding: 1.3em 1.2em 1.3em 1.2em;
  }
}
.media__modal-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2em;
}
@media (max-width: 767px) {
  .media__modal-head {
    margin-bottom: 3.2em;
  }
}
.media__modal-logo {
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .media__modal-logo {
    opacity: 1;
    z-index: 1;
  }
}
.media__modal-symbol {
  font-size: 0.75em;
  padding-left: 0.4em;
}
.media__modal-close {
  cursor: pointer;
  margin-left: 0.95em;
  display: block;
  min-width: 1.4em;
  max-width: 1.4em;
  height: 1.4em;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 767px) {
  .media__modal-close {
    min-width: 1.73em;
    max-width: 1.73em;
    height: 1.73em;
  }
}
.media__modal-company {
  max-width: 12.2em;
  width: 100%;
  height: 4.4em;
  display: block;
  margin-right: auto;
  margin-bottom: 2em;
}
.media__modal-company svg {
  width: 100%;
  height: 100%;
}
.media__modal-company svg path {
  fill: #FFFFFF;
  fill-opacity: 1;
}
@media (max-width: 767px) {
  .media__modal-company {
    max-width: 9.2em;
    height: 4em;
    margin-bottom: 0.2em;
  }
}
.media__modal-description {
  font-size: 1em;
}
@media (max-width: 767px) {
  .media__modal-description {
    font-size: 1.1em;
  }
}
.media__modal-content {
  margin-top: 8.6em;
  position: relative;
  padding-right: 3em;
}
@media (max-width: 767px) {
  .media__modal-content {
    margin-top: 4.7em;
    padding-right: 2em;
  }
}
.media__modal-name {
  font-size: 2.48em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  max-width: 13.8em;
  line-height: 1;
}
@media (max-width: 767px) {
  .media__modal-name {
    font-size: 1.88em;
  }
}
.media__modal-text {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.035em;
  max-width: 21.4em;
  margin-left: auto;
  padding-top: 4.7em;
  line-height: 1.35em;
}
@media (max-width: 767px) {
  .media__modal-text {
    margin-left: 0;
    padding-top: 0.1em;
    font-size: 0.945em;
    max-width: 56em;
  }
}
.media__modal-line {
  position: absolute;
  top: 0;
  right: 0.65em;
  height: 72%;
  width: 1px;
  background-color: #FFFFFF;
}

.formats {
  color: #FFFFFF;
}
.formats__top {
  font-style: normal;
  font-weight: 300;
  font-size: 12vw;
  line-height: 79.6%;
  text-align: center;
  letter-spacing: -0.07em;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}
.formats__sub {
  text-align: right;
}
@media (max-width: 992px) {
  .formats__sub {
    text-align: center;
  }
}
.formats__blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 332px;
  position: relative;
}
@media (max-width: 768px) {
  .formats__blocks {
    margin-top: 150px;
  }
}
@media (max-width: 768px) {
  .formats__blocks {
    margin-top: 100px;
  }
}
.formats__block {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .formats__block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .formats__block {
    margin-top: 50px;
  }
}
.formats__block:nth-child(even) {
  text-align: left;
  align-items: flex-start;
}
.formats__block:nth-child(even) div {
  padding: 20px 0;
  padding-left: 123px;
}
@media (max-width: 992px) {
  .formats__block:nth-child(even) div {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .formats__block:nth-child(even) {
    align-items: center;
    padding: 0 !important;
    text-align: center;
    margin-top: 20px;
  }
}
.formats__block:nth-child(odd) {
  text-align: right;
  align-items: flex-end;
}
.formats__block:nth-child(odd) div {
  padding-right: 100px;
}
@media (max-width: 992px) {
  .formats__block:nth-child(odd) div {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .formats__block:nth-child(odd) {
    align-items: center;
  }
}
.formats__block__title {
  font-style: normal;
  font-weight: normal;
  font-size: 2.6vw;
  line-height: 94.6%;
  color: #FFFFFF;
  max-width: 555px;
}
@media (max-width: 992px) {
  .formats__block__title {
    font-size: 5vw;
  }
}
.formats__block__sub {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 555px;
  margin-top: 43px;
}
@media (max-width: 992px) {
  .formats__block__sub {
    font-size: 2vw;
  }
}
.formats__block__circle {
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  line-height: 94.6%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
@media (max-width: 992px) {
  .formats__block__circle {
    margin: 0 10px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .formats__block__circle {
    font-size: 8vw;
  }
}
.formats__block__circle > div {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0 !important;
}
.formats__block_img {
  width: 100%;
}
.formats__block__chat {
  background-image: linear-gradient(198.33deg, #219653 -28.09%, #0F1D1A 98.29%);
  display: flex;
  align-items: center !important;
  justify-content: flex-end;
}
.formats__block__chat > img {
  max-width: 438px;
  max-height: 600px;
  margin-top: 222px;
}
.formats__block__onlySub {
  max-width: 420px;
  margin: 0;
}
.formats .ellipse {
  position: absolute;
  z-index: 1;
}
.formats .ellipse1 {
  top: 0;
  transform: rotate(220deg);
}
.formats .ellipse2 {
  top: 50%;
  transform: rotate(220deg);
}
.formats .ellipse3 {
  bottom: 0;
  transform: rotate(220deg);
}