@import "../node_modules/locomotive-scroll/dist/locomotive-scroll";

body {
    // overflow-x: hidden;
    // overflow-y: scroll;
    background-color: #000;
    font-family: "Pragmatica";
}

.residents__modal {
    z-index: 100;
}

// .viewport {
//     overflow: hidden;
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }
//
// .scroll-container {
//     position: absolute;
//     overflow: hidden;
//     left: 0;
//     z-index: 10;
//     display: flex;
//     justify-content: center;
//     backface-visibility: hidden;
//     transform-style: preserve-3d;
// }

.c-scrollbar_thumb {
    background-color: rgba(#fff, 0.2);
    width: 0.5em;
    border-radius: 0.2em;
    margin: 0 0.3em;
}

@media (min-width: 768px) {
    [data-scroll] {
        // transition: 0s;
    }

    [data-scroll-sticky] {
        transition: transform 0s;
    }

    .major__networks,
    .major__year {
        transition: 0s;
    }

    .about__title {
        // position: static;
        // opacity: 0;
        color: transparent;

        &.showTitle {
            // z-index: 0;
            // opacity: 1;
        }

    }

    .about__titlesub {
        color: transparent;

    }

    [data-scroll-class]:not([class*="about__"]) {
        opacity: 0;
        transition: opacity 1s;
    }

}

.showTitle {
    // position: static;
    animation: showTitle 1s forwards;

    &.about__titlesub {
        // position: relative;
        // z-index: 4;
    }
}

.slideUp {
    animation: slideUp 1s forwards;
}

.slideLeft {
    animation: slideLeft 1s forwards;
}

.slideRight {
    animation: slideRight 1s forwards;
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showTitle {
    from {
        color: transparent;
        // opacity: 0;
        // transform: translateY(5em);
    }

    to {
        color: #fff;
        // opacity: 1;
        // transform: translateY(0);
    }
}

.major.hide {
    z-index: 10;
}

.cursor {
    position: fixed;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: transparent;
    opacity: 0;
    transition: background 0.3s, color 0.3s, opacity 0, left 0.2s, top 0.2s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.1;
    text-transform: uppercase;
    // display: none;
    text-align: center;

    &.active {
        // display: block;
        opacity: 1;
        // transform: scale(3);
        border: 0.1em solid #fff;
        width: 8.7em;
        height: 8.7em;
        border-radius: 100%;
        opacity: 1;

        cursor: pointer;

    }

    // &.menu-active {
    //     opacity: 1;
    //     transform: scale(3);
    // }

    &.hovered {
        opacity: 1;
    }

    &.pressed {
        background-color: #fff;
        color: #000;
    }
}

.major__stencil,
.media__logo {
    @media (min-width: 768px) {
        cursor: none;
    }
}

.media__link {
    display: none !important;
}

.app__first-screen {
    // height: auto;
}
