@import "../node_modules/locomotive-scroll/dist/locomotive-scroll";

body {
    // overflow-x: hidden;
    // overflow-y: scroll;
    background-color: #000;
    font-family: "Pragmatica";
    color: #fff;
}

.residents__modal {
    z-index: 100;
}

// .viewport {
//     overflow: hidden;
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }
//
// .scroll-container {
//     position: absolute;
//     overflow: hidden;
//     left: 0;
//     z-index: 10;
//     display: flex;
//     justify-content: center;
//     backface-visibility: hidden;
//     transform-style: preserve-3d;
// }

.c-scrollbar_thumb {
    background-color: rgba(#fff, 0.2);
    width: 0.5em;
    border-radius: 0.2em;
    margin: 0 0.3em;
}

@media (min-width: 768px) {
    [data-scroll] {
        // transition: 0s;
    }

    [data-scroll-sticky] {
        transition: transform 0s;
    }

    .major__networks,
    .major__year {
        transition: 0s;
    }

    .about__title {
        // position: static;
        // opacity: 0;
        color: transparent;

        &.showTitle {
            // z-index: 0;
            // opacity: 1;
        }

    }

    .about__titlesub {
        color: transparent;

    }

    [data-scroll-class]:not([class*="about__"]) {
        opacity: 0;
        transition: opacity 1s;
    }

}

.showTitle {
    // position: static;
    animation: showTitle 1s forwards;

    &.about__titlesub {
        // position: relative;
        // z-index: 4;
    }
}

.slideUp {
    animation: slideUp 1s forwards;
}

.slideLeft {
    animation: slideLeft 1s forwards;
}

.slideRight {
    animation: slideRight 1s forwards;
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(5em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showTitle {
    from {
        color: transparent;
        // opacity: 0;
        // transform: translateY(5em);
    }

    to {
        color: #fff;
        // opacity: 1;
        // transform: translateY(0);
    }
}

.major.hide {
    z-index: 10;
}

.cursor {
    position: fixed;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: transparent;
    opacity: 0;
    transition: background 0.3s, color 0.3s, opacity 0, left 0.2s, top 0.2s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.1;
    text-transform: uppercase;
    // display: none;
    text-align: center;

    &.active {
        // display: block;
        opacity: 1;
        // transform: scale(3);
        border: 0.1em solid #fff;
        width: 8.7em;
        height: 8.7em;
        border-radius: 100%;
        opacity: 1;

        cursor: pointer;

    }

    // &.menu-active {
    //     opacity: 1;
    //     transform: scale(3);
    // }

    &.hovered {
        opacity: 1;
    }

    &.pressed {
        background-color: #fff;
        color: #000;
    }
}

.major__stencil,
.media__logo {
    @media (min-width: 768px) {
        cursor: none;
    }
}

.media__link {
    display: none !important;
}

.app__first-screen {
    // height: auto;
}

.innumber {
    &__bg {
        // background: url("../img/innumber.jpg") top center no-repeat;
        // background-size: 100% auto;
        // background-attachment: fixed;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        // height: 100vh;
    }

    &__top {
        position: relative;
        min-height: 88.7vh;
        padding: 6em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }

    &__title {
        font-size: 15.93em;
        text-transform: uppercase;
        line-height: 0.8;
        text-align: center;
        color: #63766F;
        letter-spacing: -0.07em;
        font-weight: 300;

        @supports (background-clip: text) {
            color: #fff;
            background: linear-gradient(to left, #000000 0%, #E5E5E5 50%, #000000 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__row {
        position: relative;
        display: flex;
        margin: 0 3.3em;
        padding: 0;
        border-top: 0.1em solid rgba(#fff, 0.7);
    }

    &__item {
        flex-grow: 1;
        padding: 1.7em 3.8em;
        position: relative;

        &:nth-child(n+2) {
            border-left: 0.1em solid rgba(#fff, 0.7);
        }
    }

    &__name {
        font-size: 1.5em;
        min-height: 1.2em;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__counter {
        height: 31.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4em;
        padding-bottom: 1em;

        &Num {
            font-size: 5.5em;
            margin-bottom: 0.66em;
        }

        &Label {
            font-size: 1.3em;
        }

    }

    svg {
        max-width: 100%;
        height: auto;
    }

    &__map {
        margin: auto;
        max-width: 55em;
        margin-bottom: 3em;

    }

    &__income {
        display: flex;
        justify-content: space-between;
        padding: 6.3em 5.6em 9.2em;

        &Item {
            width: 18.9em;
            position: relative;
        }

        &Content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        &Num {
            font-size: 5.5em;
            margin-bottom: 0.4em;
        }

        &Label {
            font-size: 1.4em;
            font-weight: 500;
        }

    }

    &__round {
        svg:nth-of-type(2) {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__prof {
        display: flex;
        margin: 3em -25.5em 4.6em -13.1em;

        &Item {
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 55.21%, rgba(255, 255, 255, 0.14) 100%);
            border: 0.1em solid #777777;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: 500;
            flex: none;
            width: 33.3%;
            padding-bottom: 0.8em;

            &:nth-child(2) {
                margin: 0 -4.4em;
            }

            // width: 5em;
            height: 37em;
        }

    }

    &__gender {
        display: flex;
        justify-content: center;
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // padding: 3.7em;

        margin: -1em 0 0.4em;

        &Photo {
            position: relative;
            width: 31.7em;
            // height: 10em;

            img {
                width: 100%;
            }
        }

        &Percent {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 5.5em;
            padding-bottom: 0.15em;
        }

        &Name {
            position: absolute;
            font-size: 1.23em;
            right: 2.4em;
            bottom: 1.8em;

            &_woman {
                bottom: auto;
                top: 1.5em;
            }
        }

    }

    &__place {
        margin: 2.3em auto;
        max-width: 92.7em;

        &Row {
            display: flex;
            align-items: flex-end;
            padding-left: 8.8em;
            margin-bottom: 7.9em;

            &:nth-child(2) {
                margin-bottom: 2.2em;
            }
        }

        &Line {
            position: relative;
            flex-grow: 1;
            margin-right: 1.4em;
            border-bottom: 0.1em solid #5B5B5B;
        }

        &Percent {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: 5.4em;
            padding-bottom: 0.1em;
            padding-left: 1.9em;
        }

        &Img {
            position: relative;
            padding-bottom: 0.4em;

            img {
                display: block;
            }

            &:after {
                content: '';
                height: 2em;
                width: 100%;
                position: absolute;
                left: 0;
                width: 100%;
                bottom: 0;
                background: linear-gradient(180deg, rgba(10, 48, 26, 0) 50%, #219653 120.31%);
            }
        }

        &Label {
            text-transform: uppercase;
            font-size: 1.5em;
            line-height: 0.7;
            flex: none;
            width: 4.2em;
            text-align: right;
        }

    }

}
