@import 'variables/template';

@import 'details/libs';
@import 'details/fonts';
@import 'details/header';
@import 'details/slick';

@import 'section/major';
@import 'section/about';
@import 'section/speakers';
@import 'section/residents';

@import 'section/media';
@import 'section/formats';
@import 'section/app';
@import 'section/tarrifs';
@import 'section/poster';
@import 'section/dom';

@import "./anim";