.formats {
    color: #FFFFFF;

    &__top {
        font-style: normal;
        font-weight: 300;
        line-height: 0.83;
        text-align: right;
        letter-spacing: -0.07em;
        max-width: 87.63em;
        margin: 0 auto;
        padding: 0;
        font-size: 4em;

        @media(min-width: 768px) {
            text-align: center;
            font-size: 15.6em;
            margin-bottom: 1.5em;
        }
    }

    &__row {
        width: 100%;
        position: relative;
        // min-height: 60vh;
        z-index: 3;

        &_circle {
            @media (max-width: 767px) {
                min-height: 29.5em;

                .formats__block_text {
                    display: none;
                }
            }
        }

        @media (min-width: 768px) {
            display: flex;
            min-height: none;
        }

        &:nth-child(even) {
            @media (min-width: 768px) {
                text-align: right;

                .formats__block {
                    &_text {
                        // padding: 1.125em 0;
                        margin: 0 0.9375em;
                        padding: 1.125em 5.31em 1.125em 8em;
                    }

                    &__sub {
                        // padding-left: 7em;
                    }
                }
            }
        }

        &:nth-child(odd) {
            @media (min-width: 768px) {
                // text-align: left;
                text-align: left;

                .formats__block {
                    &_text {
                        padding: 1.125em 8em 1.125em 12em;
                    }

                    &__sub {}
                }
            }
        }
    }

    &__title {
        @media (max-width: 767px) {
            margin-right: 2em;
        }
    }

    &__sub {
        // text-align: center;
        margin: 0 0.36em 0 0;

        @media(min-width: 768px) {
            margin: 0 1.06em 0 0;
            text-align: right;
        }
    }

    &__blocks {
        position: relative;
        margin-top: 6.25em;

        @media(min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20.75em;
            margin-top: 0;
        }
    }

    &__block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // z-index: 2;
        width: 100%;
        // position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @media(min-width: 768px) {
            width: 50%;
            position: static;
            flex-grow: 1;
        }

        &_text {
            @media (max-width: 767px) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                z-index: 3;
                padding: 3em 1.5em 2em;
            }
        }

        &:nth-child(even) {}

        &:nth-child(odd) {}

        &__title {
            font-style: normal;
            font-weight: normal;
            font-size: 2.4em;
            line-height: 1;
            color: #FFFFFF;
            flex-grow: 1;
            display: flex;
            text-shadow: 0 0 2em rgba(#000, 0.7);
            text-transform: uppercase;
            // align-items: center;

            @media(min-width: 768px) {
                line-height: 94.6%;
                display: block;
                font-size: 3.6em;
                text-shadow: none;
            }
        }

        &__sub {
            font-style: normal;
            font-size: 1.2em;
            line-height: 130%;
            // letter-spacing: -0.035em;
            color: #FFFFFF;
            // max-width: 34.6875em;
            margin-top: 1em;
            padding-left: 40%;
            text-shadow: 0 0 4em rgba(#000, 0.7);

            p {
                margin: 1em 0;
            }

            br {
                display: none;
            }

            @media(min-width: 768px) {
                br {
                    display: block;
                }
                margin-top: 2.6875em;
                font-size: 1.2em;
                padding-left: 1em;
                font-weight: 500;
                padding-left: 0;
            }
        }

        &_img {
            width: 100%;

            @media (max-width: 767px) {
                display: block;
                height: 90vh;
                object-fit: cover;
                object-position: center;
                opacity: 0.8;
            }
        }

        &__chat {
            height: 100%;
            background-image: linear-gradient(198.33deg, #219653 -28.09%, #0F1D1A 98.29%);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            overflow: hidden;

            @media (min-width: 768px) {
                height: 60em;
            }

            > img {
                height: auto;
                max-width: 24em;

                @media (min-width: 768px) {
                    max-width: 38em;
                }

                // max-height: 37.5em;
                // margin-top: 13.875em;
            }

        }

        &__onlySub {
            max-width: 100%;
            margin: 0;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__circle {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29.4em;
        height: 29.4em;
        margin: auto;
        background: #219653;
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        @media (min-width: 768px) {
            width: 56em;
            height: 56em;
        }

        &Text {
            font-size: 2.2em;
            text-align: center;
            color: #fff;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            position: relative;
            z-index: 1;

            @media (min-width: 768px) {
                font-size: 5.4em;
            }
        }

        &Box {
            position: absolute;
            top: -17%;
            left: -20%;
            bottom: -40%;
            right: -20%;

            img {
                display: block;
                width: 100%;
            }

            &_phone {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(198.33deg, #219653 -28.09%, #0F1D1A 98.29%);

                img {
                    margin: 7em auto 0;
                    width: 73%;
                }
            }
        }
    }

    .ellipse {
        display: none;

        @media (min-width: 768px) {
            position: absolute;
            z-index: 1;
            display: block;
            background-color: #c4c4c4;
            background: linear-gradient(130.42deg, #49DFC3 14.1%, #104B29 39.65%, #020202 64.9%), #C4C4C4;
            opacity: 0.8;
            filter: blur(10em);
            // transform: rotate(60deg);

        }
    }

    .ellipse1 {
        top: 0;
        left: 0;
        width: 100.44em;
        height: 100.44em;
        // height: 158.5625em;
        // background: linear-gradient(130.42deg, rgba(73, 223, 195, 0.19) 14.1%, rgba(16, 75, 41, 0.19) 39.65%, rgba(2, 2, 2, 0.19) 64.9%);
        // opacity: 0.8;
    }

    .ellipse2 {
        top: 85em;
        left: 11em;
        width: 84.563em;
        height: 84.563em;
        // height: 84.563em;
        // background: linear-gradient(130.42deg, #49DFC3 14.1%, #104B29 39.65%, #020202 64.9%), #C4C4C4;
    }

    .ellipse3 {
        top: 287em;
        left: 44em;
        width: 47.563em;
        height: 47.563em;
    }

    .ellipse4 {
        bottom: 6em;
        left: 16em;
        width: 84.563em;
        height: 84.563em;
    }
}
