.formats {
    color: #FFFFFF;
	&__top {
        font-style: normal;
        font-weight: 300;
        font-size: 12vw;
        line-height: 79.6%;
        text-align: center;
        letter-spacing: -0.07em;
        max-width: 1370px;
        margin: 0 auto;
        padding: 0 15px;
	}

	&__title {

	}

	&__sub {
        text-align: right;
        @media(max-width: 992px){
            text-align: center;
        }
	}

	&__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-top: 332px;
        position: relative;
        @media(max-width: 768px){
            margin-top: 150px;
        }
        @media(max-width: 768px){
            margin-top: 100px;
        }
	}

	&__block {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        @media(max-width: 992px){
            width: 100%;
        }
        @media(max-width: 768px){
            margin-top: 50px;
        }
        margin-top: 20px;
	}

    &__block:nth-child(even) {
        text-align: left;
        align-items: flex-start;
        div {
            padding: 20px 0;
            padding-left: 123px;
            @media(max-width: 992px){
                padding: 0;
                text-align: center;
            }
        }
        @media(max-width: 992px){
            align-items: center;
            padding: 0!important;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__block:nth-child(odd) {
        text-align: right;
        align-items: flex-end;
        div {
            padding-right: 100px;
            @media(max-width: 992px){
                padding: 0;
                text-align: center;
            }
        }
        @media(max-width: 992px){
            align-items: center;
        }
    }

	&__block__title {
        font-style: normal;
        font-weight: normal;
        font-size: 2.6vw;
        line-height: 94.6%;
        // letter-spacing: -0.035em;
        color: #FFFFFF;
        max-width: 555px;
        @media(max-width: 992px){
            font-size: 5vw;
        }
	}

	&__block__sub {
        font-style: normal;
        font-weight: 500;
        font-size: 0.8vw;
        line-height: 130%;
        // letter-spacing: -0.035em;
        color: #FFFFFF;
        max-width: 555px;
        margin-top: 43px;
        @media(max-width: 992px){
            font-size: 2vw;
        }
	}

	&__block__circle {
        border-radius: 50%;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        line-height: 94.6%;
        text-align: center;
        // letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #000000;
        position: relative;
        @media(max-width: 992px){
            margin: 0 10px;
            margin-top: 20px;
        }
        @media(max-width: 768px){
            font-size: 8vw;
        }
	}

    &__block__circle>div {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }

    &__block_img{
        width: 100%;
    }

    &__block__chat{
        background-image: linear-gradient(198.33deg, #219653 -28.09%, #0F1D1A 98.29%);
        display: flex;
        align-items: center!important;
        justify-content: flex-end;
    }

    &__block__chat>img{
        max-width: 438px;
        max-height: 600px;
        margin-top: 222px;
    }
    &__block__onlySub{
        max-width: 420px;
        margin: 0;
    }
    .ellipse{
        position: absolute;
        z-index: 1;
    }
    .ellipse1{
        top: 0;
        transform: rotate(220deg)
    }
    .ellipse2{
        top: 50%;
        transform: rotate(220deg)
    }
    .ellipse3{
        bottom: 0;
        transform: rotate(220deg);
    }
}
