.major{
	height: 100vh;
	position: relative;
	overflow: hidden;
	&.hide{
		.major__content, .major__networks, .major__year{
			opacity: 0;
			z-index: -2;
		}
		.major__video{
			z-index: 10;
		}
	}
	&__video{
		cursor: pointer;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	    background-color: #000;
	    text-align: center;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    video{
	    	min-height: 100%;
	    	min-width: 100%;
	    	object-fit: cover;
	    	z-index: 3;
	    	position: relative;
	    }
	    &-close{
			cursor: pointer;
			display: inline-block;
			min-width: 1.4em;
			max-width: 1.4em;
			height: 1.4em;
			background-image: url(../img/close.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		&-cellar{
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 0;
			max-width: 101em;
		    width: 100%;
		    margin: 0px auto;
		    padding: 0 0.95em 5.2em 0.95em;
			z-index: 4;
			pointer-events: none;
		}
		&-status{
			font-weight: 500;
			font-size: 1em;
			color: #ffffff;
			text-transform: uppercase;
			text-align: left;
			padding-bottom: 1.4em;
			letter-spacing: 0.035em;
		}
		&-bar{
			pointer-events: visible;
			width: 100%;
			height: 2px;
			background-color: rgba(255, 255, 255, 0.4);
			cursor: pointer;
			position: relative;
		}
		&-current{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: #219653;
			cursor: default;
		}

	}
	&__head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: 0;
		max-width: 114.8em;
		width: 100%;
		margin: 0 auto;
		padding: 2em 0.95em;
		z-index: 4;
	}
	&__company{
		text-decoration: none;
		display: inline-flex;
		align-items: flex-start;
		font-weight: 500;
		font-size: 1.2em;
		letter-spacing: -0.035em;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__symbol{
	    font-size: 0.8em;
    	padding-left: 0.4em;
	}
	&__background{
		z-index: 2;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	    background: #000;
		mix-blend-mode: multiply;
		transition: all .8s;
	}
	&__stencil{
		position: absolute;
		left: 50%;
		top: 10.5em;
		width: 58%;
		height: 56%;
		transform: translate(-50%, 0);
		z-index: 2;
		display: flex;
    	align-items: flex-end;
    	cursor: pointer;
		svg{
			width: 100%;
			height: 100%;
		}
		@media (max-width: 767px) {
			width: 86%;
			top: 9.8em;
		}
		&:hover{
			.major__play{
				opacity: 1;
				z-index: 1;
			}
		}
	}
	&__content{
		position: absolute;
		left: 50%;
		top: 60.6%;
		transform: translate(-50%, -50%);
		z-index: 3;
		max-width: 60em;
		width: 100%;
		padding: 0 0.95em;
		height: 38%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		pointer-events: none;
		@media (max-width: 767px) {
		    top: 50%;
    		height: 58%;
		}
	}
	&__title{
		font-size: 5.7em;
		line-height: 94.6%;
		text-align: center;
		letter-spacing: -0.07em;
		text-transform: uppercase;
		color: #FFFFFF;
		@media (max-width: 767px) {
			font-size: 2.36em;
		}
		&sub{
			max-width: 22em;
			margin: 0 auto;
			font-weight: 500;
			font-size: 1.48em;
			line-height: 130%;
			text-align: center;
			letter-spacing: -0.045em;
			text-transform: uppercase;
			color: #FFFFFF;
			@media (max-width: 767px) {
				font-size: 1.1em;
				padding-bottom: 2.2em;
			}
		}
	}
	&__btn{
		border: 1px solid #219653;
		border-radius: 28px;
		display: none;
		font-weight: 500;
		font-size: 1.15em;
		line-height: 1em;
		color: #219653;
		background-color: transparent;
		padding: 0.8em 1.2em;
		pointer-events: visible;
		transition: all .5s;
		margin: 0 auto;
		&:hover{
			background: #219653;
			color: #000;
		}
		@media (max-width: 767px) {
			display: block;
		}
	}
	&__networks{
		position: absolute;
	    bottom: 2.4em;
    	right: 3.2em;
		z-index: 3;
		transition: all .8s;
		&-item{
			display: block;
			width: 1.6em;
			height: 1.2em;
			display: block;
			margin-bottom: 1em;
			transition: all .5s;
			&:last-child{
				margin-bottom: 0;
			}
			&:hover{
				opacity: 0.6;
			}
		}
		&-icon{
			width: 100%;
			height: 100%;
    		svg{
    			width: 100%;
				height: 100%;
    			text-align: center;
    		}
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	&__year{
		position: absolute;
	    bottom: 2.1em;
    	left: 3.2em;
    	z-index: 3;
		font-weight: 500;
		font-size: 1em;
		letter-spacing: -0.035em;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all .8s;
		@media (max-width: 767px) {
			display: none;
		}
	}
}