.poster {
    color: #fff;
    padding: 17em 0 10em;

    @media (min-width: 768px) {
        padding: 10em 0;
    }

    &__title {
        font-size: 3.7em;
        padding-left: 40%;
        text-transform: uppercase;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            font-size: 5.375em;
            padding-left: 50%;
            margin-bottom: 2em;
        }
    }

    &__grid {
        flex-grow: 1;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -2em;
        }

        &_duble {
            > .poster__col {
                margin-bottom: 0;
            }
        }
    }

    &__col {
        position: relative;
        display: flex;

        @media (min-width: 768px) {
            width: 33%;
            flex-grow: 1;
            padding-left: 2em;
            margin-bottom: 2em;
            max-height: 56.5em;

            // &:before {
            //     content: '';
            //     display: block;
            //     border: 1px solid #000;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     position: absolute;
            //     z-index: 0;
            // }

            &_width {
                // width: 50%;
                width: 66.6%;
            }

            .poster__col {
                &:nth-child(n+3) {
                    margin-bottom: 0;
                }
            }
        }

        &_semi {

            @media (min-width: 768px) {
                width: 50%;

                .poster__col {
                    &:nth-child(3) {
                        margin-bottom: 2em;
                    }

                    &:nth-child(n+4) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__plate {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__month {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2em;
        padding: 0.5em 0.5em 1em;
        margin-bottom: -1px;
        text-transform: uppercase;

        span {
            @media (min-width: 768px) {
                display: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom: 1px solid #fff;
        }

        @media (min-width: 768px) {
            font-size: 3em;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            margin-bottom: 0;

            &:after {
                display: none;
            }

        }
    }

    &__img {
        height: 60vh;
        overflow: hidden;
        position: relative;
        display: none;
        flex-grow: 1;

        @media (min-width: 768px) {
            display: block;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;

            @media (min-width: 768px) {
                transform: scale(1);
                transition: transform 0.8s;
            }

            @media (max-width: 767px) {
                &[src*='poster-0.png'] {
                    display: none;
                }
            }
        }

        &:hover {
            img {
                @media (min-width: 768px) {
                    transform: scale(1.1);
                }
            }

            .poster {
                @media (min-width: 768px) {
                    &__descr {
                        opacity: 1;
                    }

                    &__time {
                        top: 0;
                    }

                    &__name {
                        bottom: 0;
                    }
                }
            }
        }
    }

    &__descr {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.8em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        z-index: 2;

        @media (min-width: 768px) {
            opacity: 0;
            transition: opacity 0.5s;
            cursor: none;
        }
    }

    &__time {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            font-size: 2.68em;
            position: relative;
            top: -100%;
            transition: top 0.5s;
        }

        small {
            font-size: 50%;
            padding-top: 0.2em;
            padding-left: 0.2em;
            font-weight: 300;
        }
    }

    &__fulltime {
        display: block;
        text-align: right;
        font-size: 1.3em;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__name {
        font-size: 1.9em;
        text-transform: uppercase;
        position: relative;
        max-width: 10em;

        @media (min-width: 768px) {
            font-size: 1.6em;
            bottom: -100%;
            transition: bottom 0.5s;
            max-width: 14em;
        }
    }

    &__count {
        font-size: 0.6em;
        line-height: 1;
        font-weight: 300;
        text-transform: none;
        flex-grow: 1;
        text-align: right;

        @media (min-width: 768px) {
            display: none;
        }
    }

}
