.residents {
	padding: 14.5em 0;
	position: relative;
	@media (max-width: 767px) {
		padding: 12.3em 0;
	}

	&__label {
		position: absolute;
		z-index: 2;
		top: 0.8em;
		left: 1em;
		max-width: 4.3em;
		font-size: 1em;

		@media (min-width: 768px) {
			max-width: 8.7em;
			top: 1.5em;
			left: 2em;
		}

		@media (max-width: 767px) {
			color: transparent;
			height: 2em;
		}

		b {
			display: block;
			text-transform: uppercase;
			font-size: 1.2em;
		}

		img,
		svg {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}

	&__circle {
		&-one {
			position: absolute;
			right: 48.5em;
			top: 25.6em;
			width: 12.82em;
			height: 12.82em;
			background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
			border-radius: 50%;
			z-index: 2;
			@media (max-width: 767px) {
				width: 9.3em;
				height: 9.3em;
				right: 19.5em;
				top: 15.8em;
			}
		}

		&-two {
			position: absolute;
			left: 16.2em;
			top: 29.5em;
			width: 20.02em;
			height: 20.02em;
			background: linear-gradient(130.42deg, #345C66 14.1%, #213734 45.52%, #020202 74.85%);
			border-radius: 50%;
			@media (max-width: 767px) {
				width: 14.4em;
				height: 14.4em;
				left: 12em;
				top: 37.5em;
				z-index: 2;
				background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
			}
		}

		&-three {
			position: absolute;
			right: -11.8em;
			top: 12.5em;
			width: 71.23em;
			height: 71.23em;
			background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
			border-radius: 50%;
			z-index: 1;
			@media (max-width: 767px) {
				width: 36.3em;
				height: 36.3em;
				right: -8em;
				top: 11.8em;
				transform: rotate(-11.26deg);
			}
		}

		&-four {
			position: absolute;
			left: -4.8em;
			top: 51.7em;
			width: 37.3em;
			height: 37.3em;
			background: linear-gradient(130.42deg, #73A79D 14.1%, #324C48 45.52%, #020202 74.85%);
			border-radius: 50%;
			z-index: 1;
			@media (max-width: 767px) {
				width: 37.82em;
				height: 37.82em;
				left: -14.8em;
				top: 56.7em;
				background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
			}
		}

		&-five {
			display: none;
			@media (max-width: 767px) {
				border-radius: 50%;
				display: block;
				position: absolute;
				width: 14.4em;
				height: 14.4em;
				left: 11em;
				top: 81em;
				z-index: 2;
				background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
			}
		}

		&-six {
			display: none;
			@media (max-width: 767px) {
				border-radius: 50%;
				display: block;
				position: absolute;
				width: 14.4em;
				height: 14.4em;
				left: -3em;
				top: 105em;
				z-index: 2;
				background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}
		}

		&-seven {
			display: none;
			@media (max-width: 767px) {
				border-radius: 50%;
				display: block;
				position: absolute;
				width: 37.6em;
				height: 37.6em;
				left: -12em;
				top: 111em;
				background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
				transform: matrix(-0.98, -0.2, -0.2, 0.98, 0, 0);
			}
		}

		&-eight {
			display: none;
			@media (max-width: 767px) {
				border-radius: 50%;
				display: block;
				position: absolute;
				width: 14.4em;
				height: 14.4em;
				left: 2.8em;
				top: 153.5em;
				z-index: 2;
				background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}
		}

		&-nine {
			display: none;
			@media (max-width: 767px) {
				border-radius: 50%;
				display: block;
				position: absolute;
				width: 25.2em;
				height: 25.2em;
				left: 11.8em;
				top: 155em;
				background: linear-gradient(130.42deg, #72A79D 14.1%, #314D46 39.65%, #020202 64.9%);
				transform: matrix(0.26, 0.97, 0.97, -0.26, 0, 0);
			}
		}
	}

	&__head {
		position: relative;
		z-index: 2;
		max-width: 96em;
		width: 100%;
		padding: 0 0.95em;
		margin: 0 auto;
		text-align: right;
		letter-spacing: -0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__title {
		font-size: 5.35em;
		padding-right: 3.2em;
		line-height: 1em;
		@media (max-width: 767px) {
			font-size: 2.28em;
			padding-right: 2.08em;
		}

		&sub {
			font-size: 5.35em;
			@media (max-width: 767px) {
				font-size: 2.38em;
			}
		}
	}

	&__set {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-top: 7.2em;
		@media (max-width: 767px) {
			margin-left: -0.95em;
			padding-top: 3.5em;
		}
	}

	&__box {
		width: 25%;
		padding-top: 4em;
		@media (max-width: 767px) {
			width: 50%;
			padding-left: 0.95em;
			padding-top: 2em;

			&:first-child {
				margin-right: 50%;
			}

			&:nth-child(1n+16) {
				// display: none;
			}

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				display: none;
			}

			&:nth-child(6) {
				// display: none;
			}

			&:nth-child(6) {
				// display: none;
			}

			&:nth-child(8) {
				// display: none;
			}

			&:nth-child(9) {
				// display: none;
			}

			&:nth-child(10) {
				// display: none;
			}

			&:nth-child(14) {
				display: none;
			}
		}
	}

	&__picture {
		position: relative;
		padding-bottom: 117%;
		cursor: pointer;
		@media (max-width: 767px) {
			padding-bottom: 166%;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		padding: 2em 3.3em;
		color: #FFFFFF;
		@media (max-width: 767px) {
			padding: 1.2em 1.3em;
		}
	}

	&__name {
		font-weight: 500;
		font-size: 1.25em;
		line-height: 1.25em;
		letter-spacing: -0.035em;
		text-transform: uppercase;
		padding-bottom: 0.4em;
		@media (max-width: 767px) {
			font-size: 1.4em;
		}
	}

	&__post {
		font-size: 1em;
		@media (max-width: 767px) {
			font-size: 1.12em;
			line-height: 1.3em;
		}
	}

	&__modal {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100%;
		z-index: 10;
		background-color: #000000;
		color: #FFFFFF;
		padding: 2.3em 16.6em 2.3em 3.6em;
		@media (max-width: 767px) {
			padding: 2.2em 1.3em;
			overflow: auto;
		}

		&.open {
			display: block;
			@media (min-width: 768px) {
				display: flex;
				align-items: center;
			}
		}

		&-cirsleOne {
			position: absolute;
			left: 47em;
			top: 8.5em;
			width: 28.22em;
			height: 28.22em;
			background: linear-gradient(130.42deg, #73A79D 14.1%, #324C48 45.52%, #020202 74.85%);
			transform: rotate(80.82deg);
			border-radius: 50%;
			@media (max-width: 767px) {
				display: none;
			}
		}

		&-cirsleTwo {
			position: absolute;
			left: 8.6em;
			bottom: 36.5em;
			width: 12.81em;
			height: 12.81em;
			background: linear-gradient(130.42deg, #6FC7B5 14.1%, #2F5C53 45.52%, #020202 74.85%);
			border-radius: 50%;
			z-index: 3;
			@media (max-width: 767px) {
				display: none;
			}
		}

		&-img {
			position: absolute;
			width: 62.8em;
			max-height: 100%;
			// height: 65em;
			left: 1.5em;
			bottom: 0;
			z-index: 2;
			display: block;

			@media (max-width: 767px) {
				position: relative;
				left: 0;
				bottom: 0;
				height: auto;
				max-height: none;
				max-width: 100%;
				margin-bottom: 3em;
				margin-top: -2em;
			}

			img {
				width: 100%;
				max-height: 100%;
				display: block;
				object-fit: contain;
			}
		}

		&-head {
			position: absolute;
			top: 1.7em;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			z-index: 4;

			@media (min-width: 768px) {
				top: 3em;
			}
		}

		&-logo {
			text-decoration: none;
			display: inline-flex;
			align-items: flex-start;
			font-weight: 500;
			font-size: 1.3em;
			letter-spacing: -0.035em;
			text-transform: uppercase;
			@media (max-width: 767px) {
				font-size: 1.48em;
			}
		}

		&-symbol {
			font-size: 0.75em;
			padding-left: 0.4em;
		}

		&-nav {
			display: flex;
			padding-left: 11em;
			@media (max-width: 767px) {
				display: none;
			}
		}

		&-link {
			margin-right: 4.36em;
			cursor: pointer;

			&.active {
				color: #575757;
				cursor: default;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&-close {
			cursor: pointer;
			position: absolute;
			right: 1.5em;
			top: 1.5em;
			width: 1.73em;
			height: 1.73em;
			display: block;
			background-image: url("../img/close.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: 10;

			@media (min-width: 768px) {
				right: 3.7em;
				top: 2.1em;
				width: 1.4em;
				height: 1.4em;
			}
		}

		&-body {
			position: relative;
			flex: none;
			z-index: 4;
			// padding-top: 13.3vh;
			width: 100%;
			max-width: 43em;
			margin-left: auto;

			@media (min-width: 768px) {
				// padding-right: 10em;
				max-height: 100%;
				overflow-y: auto;

				/*Убрать полосу прокрутки у элемента*/
				&::-webkit-scrollbar {
					width: 0;
				}

				&::-moz-scrollbar {
					width: 0;
				}
			}
			@media (max-width: 767px) {
				// padding-top: 3.8em;
			}
		}

		&-forename {
			display: flex;
			flex-wrap: wrap;
			font-weight: 500;
			font-size: 2.8em;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			padding-bottom: 0.26em;
			@media (max-width: 767px) {
				margin-top: 3em;
				font-size: 2.1em;
				padding-bottom: 0.3em;
				max-width: 10em;
			}
		}

		&-name {
			padding-right: 0.4em;
		}

		&-surname {
			@media (max-width: 767px) {
				width: 100%;
				padding-left: 2.15em;
			}
		}

		&-post {
			font-weight: 500;
			font-size: 1.48em;
			letter-spacing: -0.035em;
			// text-transform: uppercase;
			padding-bottom: 3.25em;
			@media (max-width: 767px) {
				font-size: 1em;
				padding-left: 0.8em;
				letter-spacing: 0.02em;
				padding-bottom: 1em;
			}
		}

		&-table {
			margin-bottom: 5em;

			@media (max-width: 767px) {
				font-size: 0.9em;
			}

			&__row {
				border-top: 1px solid;
				display: flex;
				justify-content: space-between;
				min-height: 5.3em;
			}

			&__td {
				font-size: 1em;
				padding-top: 0.5em;
				padding-bottom: 1em;

				&:first-child {
					text-transform: capitalize;

					@media (max-width: 767px) {
						max-width: 9em;
					}
				}

				&:last-child {
					font-size: 1.3em;
					max-width: 12em;
					text-align: right;
				}
			}
		}

		&-facts {
			text-align: center;
			display: flex;
			width: 100%;
		}

		&-cell {
			flex-grow: 1;

			@media (min-width: 768px) {
				display: flex;
				flex-direction: column;
			}

			&:nth-child(n+2) {
				.residents__modal-value {
					border-left: 1px solid;
					// padding: 0 1.1em 0.32em;
				}
			}

			&:nth-child(2) {
				.residents__modal-value {
					// padding: 0 1.2em 0.32em 1.1em;
				}
			}

			&:nth-child(3) {
				.residents__modal-value {
					// padding: 0 0.3em 0.32em 0.75em;

					&:after {
						display: none;
					}
				}

				.residents__modal-property {
					// padding: 1.5em 0 0 4em;
				}
			}
		}

		&-value {
			white-space: nowrap;
			font-size: 2.5em;
			text-align: center;
			letter-spacing: -0.02em;
			border-bottom: 2px solid #ffffff;
			text-transform: uppercase;
			position: relative;
			text-align: center;
			padding: 0 0.3em 0.5em;
			height: 2.3em;
			line-height: 1;

			&:after {
				// content: '';
				// position: absolute;
				// right: 0;
				// bottom: 0;
				// width: 2px;
				// height: 80%;
				// background-color: #ffffff;
			}
			@media (max-width: 767px) {
				font-size: 1.5em;
			}

			span {
				font-size: 1.67em;
				padding-right: 0.1em;
				@media (max-width: 767px) {
					font-size: 1.5em;
				}
			}
		}

		&-clogo {
			display: flex;
			// align-items: center;
			justify-content: flex-end;
			border-bottom: 2px solid #ffffff;
			height: 3.5em;

			@media (min-width: 768px) {
				height: 5.75em;
			}

			img {
				width: auto;
				height: 2em;
				display: block;

				@media (min-width: 768px) {
					height: 3em;
				}
			}

			&List {
				max-width: 38em;
				padding-top: 1em;
				margin-left: -1em;

				img,
				svg {
					max-width: 100%;
					display: inline-block;
					vertical-align: baseline;
					margin: 1em 0.5em 0;
					max-height: 2em;
					width: auto;

					@media (min-width: 768px) {
						max-height: 4em;
						margin: 1em 1em 0;
					}
				}
			}
		}

		&-property {
			font-weight: 500;
			font-size: 1em;
			letter-spacing: -0.045em;
			padding: 1.5em 0 0;
			text-transform: uppercase;
			@media (max-width: 767px) {
				padding: 0.75em 0 0;
				text-transform: inherit;
			}
		}

		&-about {
			font-size: 1em;
		}

		&-skills {
			padding-top: 11vh;
			@media (max-width: 767px) {
				padding-top: 2.9em;
			}
		}

		&-skill {
			padding: 1em 0;
			font-size: 1.2em;
			line-height: 1.5;
			max-width: 30em;

			@media (min-width: 768px) {
				font-size: 1.6em;
			}
		}

		&-topic {
			font-size: 1em;
			text-transform: uppercase;
			border-bottom: 1px solid #ffffff;
			padding-bottom: 0.5em;
			@media (max-width: 767px) {
				margin-bottom: 1em;
			}
		}

		&-set {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		&-elem {
			margin-top: 1em;
			font-weight: 500;
			font-size: 1.48em;
			letter-spacing: -0.035em;
			padding: 0.5em 1.4em;
			border: 2px solid #ffffff;
			border-radius: 62px;
			margin-left: 0.7em;
			@media (max-width: 767px) {
				border: 1.12245px solid #FFFFFF;
				font-size: 1em;
				margin-top: 0.65em;
				padding: 0.32em 1.2em;
			}
		}

		&-networks {

			padding-top: 5.5vh;
			display: flex;
			justify-content: flex-end;

			@media (min-width: 768px) {
				position: absolute;
				bottom: 1.9em;
				right: 3.8em;
			}
			@media (max-width: 767px) {
				display: none;
			}
		}

		&-icon {
			cursor: pointer;
			height: 2.1em;
			width: 2.1em;
			// width: 100%;
			margin-top: 1.8em;
			margin-left: 2.5em;
			display: inline-block;
			transition: opacity 0.5s;

			svg {
				height: 100%;
				width: 100%;
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.tab {
	&__mass {
		display: none;

		&.open {
			display: block;
		}
	}
}

.no-scroll {
	overflow: hidden;
}
