.steps {
	padding: 14.5em 0;
	@media (max-width: 767px) {
		padding: 12.3em 0;
	}

	&__container {
		width: 100%;
		padding: 0 0.95em;
		margin: 0 auto;
	}

	&__title {
		font-size: 5.37em;
		line-height: 1em;
		letter-spacing: -0.025em;
		text-transform: uppercase;
		color: #FFFFFF;
		max-width: 11.2em;
		margin-left: auto;

		@media (max-width: 767px) {
			display: none;
		}

		&-mob {
			text-transform: uppercase;
			display: none;
			color: #FFFFFF;
			max-width: 7.87em;
			margin-left: auto;
			font-size: 2.26em;
			line-height: 0.8em;
			letter-spacing: -0.1em;
			@media (max-width: 767px) {
				display: block;
			}
		}
	}

	&__appeal {
		text-transform: uppercase;
		display: none;
		color: #FFFFFF;
		max-width: 7.87em;
		margin-left: auto;
		font-size: 2.26em;
		letter-spacing: -0.12em;
		padding-top: 0.1em;

		&-num {
			color: #219653;
			padding: 0 0.15em;
		}
		@media (max-width: 767px) {
			display: block;
		}
	}

	&__set {
		display: flex;
		flex-wrap: wrap;
		padding-top: 4.5em;
		padding-left: 0.8em;
		@media (min-width: 768px) {
			padding-top: 27em;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;

		&:nth-child(1) {
			margin-left: 5.4em;
			@media (max-width: 767px) {
				margin-left: 0;
			}
		}

		&:nth-child(2) {
			.steps__prompt {
				left: 31em;
				@media (max-width: 767px) {
					margin-top: 0.5em;
					left: 0;
					width: 100%;
					margin-left: 0.6em;
					max-width: 16.8em;
				}
			}
		}

		&:nth-child(3) {
			@media (max-width: 767px) {
				margin-left: 4.2em;
				margin-top: 0.5em;
			}
		}

		&:nth-child(4) {
			margin-left: 22em;
			@media (max-width: 767px) {
				margin-left: 0.2em;
				margin-top: 0.4em;
			}

			.steps__prompt {
				left: 34em;
				@media (max-width: 767px) {
					left: 0;
					margin-left: 0.5em;
					margin-top: 0.2em;
				}
			}
		}

		&:nth-child(5) {
			@media (max-width: 767px) {
				margin-left: 0.6em;
				margin-top: 0.5em;
			}
		}
	}

	&__num {
		font-weight: 500;
		font-size: 9.37em;
		background: #219653;
		text-transform: uppercase;
		min-width: 1.198em;
		max-width: 1.198em;
		height: 1.198em;
		text-align: center;
		border-radius: 50%;
		margin-left: 0.16em;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 767px) {
			margin-top: -0.25em;
			font-size: 2.4em;
			margin-left: 0.26em;
		}

		&.mob {
			display: none;
			@media (max-width: 767px) {
				display: block;
			}
		}

		&.pc {
			@media (max-width: 767px) {
				display: none;
			}
		}
	}

	&__name {
		font-weight: 300;
		font-size: 15.5em;
		letter-spacing: -0.085em;
		text-transform: uppercase;
		color: #FFFFFF;
		line-height: 0.78em;
		text-align: left;
		padding-right: 0.05em;
		@media (max-width: 767px) {
			font-size: 3.5em;
			padding-left: 0.2em;
			line-height: 0.85em;
		}
	}

	&__action {
		cursor: pointer;
		line-height: 0.78em;
		font-weight: 300;
		color: #219653;
		font-size: 15.5em;
		letter-spacing: -0.085em;
		text-transform: uppercase;

		&-text {
			display: flex;
			justify-content: flex-start;

			&:nth-child(2) {
				margin-left: 1.28em;
				@media (max-width: 767px) {
					margin-left: 0.75em;
				}
			}
		}

		&-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 3.86755px solid #FFFFFF;
			border-radius: 50%;
			min-width: 0.723em;
			max-width: 0.723em;
			height: 0.723em;
			margin-top: 0.05em;
			transition: all 0.5s;

			&.active {
				background-color: #ffffff;

				svg path {
					stroke: #000000;
				}
			}
			@media (max-width: 767px) {
				border: 1px solid #FFFFFF;
				min-width: 0.81em;
				max-width: 0.81em;
				height: 0.81em;
				margin-top: -0.15em;
			}

			&:nth-child(1) {
				margin-left: 0.1em;
				@media (max-width: 767px) {
					margin-left: 0.25em;
				}
			}

			svg {
				@media (max-width: 767px) {
					width: 0.4em;
					height: 0.4em;
				}

				path {
					transition: all 0.5s;
					stroke: #FFFFFF;
				}
			}
		}
		@media (max-width: 767px) {
			font-size: 3.5em;
			padding-left: 0.2em;
			line-height: 0.85em;
		}
	}

	&__prompt {
		position: absolute;
		top: 3em;
		border-radius: 3em;
		background-color: #219653;
		font-weight: 500;
		font-size: 1.42em;
		text-align: center;
		letter-spacing: -0.045em;
		text-transform: uppercase;
		color: #000000;
		padding: 0.85em 1.2em;
		z-index: 1;
		@media (max-width: 767px) {
			position: relative;
			font-size: 1.45em;
			top: 0;
			background-color: transparent;
			border: 1px solid #219653;
			color: #219653;
			padding: 0.35em 1.2em;
		}
	}
}

.modal {
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 1.5em 0;
	transition: all 0.5s;
	@media (max-width: 767px) {
		padding: 0;
	}

	&.open {
		display: flex;

		.modal__block {
			opacity: 1;
		}
	}

	&__block {
		max-width: 74.6em;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(5px);
		color: #FFFFFF;
		text-align: left;
		padding: 2em 2.6em 3.9vh 2.45em;
		opacity: 0;
		animation: 0.4s modal;
		@media (max-width: 767px) {
			max-width: 100%;
			padding: 1.3em 1.2em;
			overflow: auto;
			height: 100%;
		}
	}

	&__head {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 2.5vh;
		@media (max-width: 767px) {
			margin-bottom: 3.5em;
		}
	}

	&__logo {
		text-decoration: none;
		display: inline-flex;
		align-items: flex-start;
		font-weight: 500;
		font-size: 1.5em;
		letter-spacing: -0.035em;
		text-transform: uppercase;
		color: #FFFFFF;
		opacity: 0;
		z-index: -1;
		@media (max-width: 767px) {
			opacity: 1;
			z-index: 1;
		}
	}

	&__symbol {
		font-size: 0.75em;
		padding-left: 0.4em;
	}

	&__close {
		cursor: pointer;
		margin-left: 0.95em;
		display: block;
		min-width: 1.4em;
		max-width: 1.4em;
		height: 1.4em;
		background-image: url("../img/close.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		@media (max-width: 767px) {
			min-width: 1.73em;
			max-width: 1.73em;
			height: 1.73em;
		}
	}

	&__mass {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__title {
		width: 50%;
		font-size: 2.36em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-right: 4.5em;
		line-height: 1em;
		@media (max-width: 767px) {
			width: 100%;
			padding-right: 0;
			max-width: 10em;
			margin: 0 auto;
			font-size: 1.8em;
			padding-bottom: 12vh;
		}
	}

	&__form {
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__row {
		margin-bottom: 3.6em;
		position: relative;
		@media (max-width: 767px) {
			margin-bottom: 2em;
		}

		&.none {
			@media (max-width: 767px) {
				display: none;
			}
		}
	}

	&__field {
		width: 100%;
		letter-spacing: -0.03em;
		color: #FFFFFF;
		padding: 0 1em 0.86em 0;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #FFFFFF;
		font-size: 1.42em;
		letter-spacing: -0.035em;
		color: #FFFFFF;
		@media (max-width: 767px) {
			font-size: 1.3em;
		}

		&::placeholder {
			color: #FFFFFF;
		}

		&:focus {
			outline: none;
		}
	}

	&__icon {
		display: none;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);

		svg {
			width: 1.9em;
			height: 1.9em;
		}
	}

	&__cellar {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			padding-top: 2vh;
		}
	}

	&__btn {
		cursor: pointer;
		font-weight: 500;
		font-size: 1.2em;
		padding: 1em 3.2em;
		letter-spacing: -0.035em;
		text-transform: uppercase;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		background-color: transparent;
		border-radius: 56px;
		transition: all 0.5s;

		&:hover {
			background-color: #FFFFFF;
			color: #000;
		}

		&:focus {
			outline: none;
		}
		@media (max-width: 767px) {
			width: 100%;
			border-radius: 0;
			order: 2;
		}
	}

	&__notice {
		max-width: 17.8em;
		padding-left: 3em;
		font-size: 0.9em;
		letter-spacing: -0.035em;
		color: #FFFFFF;
		@media (max-width: 767px) {
			max-width: 14.8em;
			color: #4B4B4B;
			padding-left: 0;
			order: 1;
			font-size: 1em;
			padding-bottom: 6vh;
		}
	}
}
