block variables
    -var vers = '?0.3'
<!DOCTYPE html>
html(lang="ru")

    include head.jade

    body#body
        .wrapper(data-scroll-container="")
            .cursor

            include block/header.jade

            block content

        include block/modals.jade

        include scripts.jade
