block variables
    -var vers = '?0.1'
<!DOCTYPE html>
html(lang="ru")

    include head.jade

    body#body
        .viewport
            .scroll-container#scroll-container
                .wrapper
                    .cursor

                    include block/header.jade

                    block content	

        include scripts.jade
