block variables
    -var vers = '?0.5'
<!DOCTYPE html>
html(lang="ru")

    include head.jade

    body#body.loaded
        .wrapper(data-scroll-container="")
            .cursor

            include block/header.jade

            block content

        .major__networks

            a(href='#' class='major__networks-item')

                .major__networks-icon
                    img(src='img/instagram.svg' alt='major__networks-icon')

            a(href='#' class='major__networks-item')

                .major__networks-icon
                    img(src='img/youtube.svg' alt='major__networks-icon')

            a(href='#' class='major__networks-item')

                .major__networks-icon
                    img(src='img/whatsapp.svg' alt='major__networks-icon')

            a(href='#' class='major__networks-item')

                .major__networks-icon
                    img(src='img/telegram.svg' alt='major__networks-icon')

        .major__year ©2020


        include block/modals.jade

        include scripts.jade
