*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-size: calc(.00838 * 100vw + 0px);
	@media (max-width: 767px) {
		font-size: calc(.034 * 100vw + 0px);
	}
}

.wrapper{
	font-family: 'Pragmatica';
	font-weight: 400;
	overflow: hidden;
	font-size: 1em;
	background-color: #000000;
	position: relative;
}