extends ../template.jade

block content

    include ../index/major.jade

    include ../index/about.jade

    include ../index/poster.jade

    include ../index/speakers.jade

    include ../index/residents.jade

    include ../index/media.jade

    include ../index/app.jade

    include ../index/tariffs.jade
