extends ../template.jade

block content

	include ../index/major.jade
	
	include ../index/about.jade
	
	include ../index/speakers.jade
	
	include ../index/residents.jade
	
	include ../index/media.jade
	
	include ../index/formats.jade

	include ../index/dom.jade
	
	include ../index/trips.jade
