header.header

	.header__container

		.header__left

			a(href='#' class='header__company') club 500 <span class='header__symbol'>®</span>

		.header__center

			.header__toggle

				.header__toggle-burger

					span
					span

				.header__toggle-text MENU

			nav.menu

				.menu__close закрыть

				ul.menu__list

					li.menu__item

						a(href='#' class='menu__link') О клубе

						ul.menu__listsub

							li.menu__itemsub

								a(href='#' class='menu__linksub') что такое клуб

							li.menu__itemsub

								a(href='#' class='menu__linksub') как вступить

							li.menu__itemsub

								a(href='#' class='menu__linksub') резиденты

							li.menu__itemsub

								a(href='#' class='menu__linksub') CLUB 500 в цифрах
					
					li.menu__item
						
						a(href='#' class='menu__link') резиденты
					
					li.menu__item
						
						a(href='#' class='menu__link') club 500 в цифрах
					
					li.menu__item
						
						a(href='#' class='menu__link') кейсы
					
					li.menu__item
						
						a(href='#' class='menu__link') афиша
					
					li.menu__item
						
						a(href='#' class='menu__link') Travel
					
					li.menu__item
						
						a(href='#' class='menu__link') Dom club 500
					
					li.menu__item
						
						a(href='#' class='menu__link') приложение
					
					li.menu__item
						
						a(href='#' class='menu__link') Тарифы
					
					li.menu__item
						
						a(href='#' class='menu__link') сми

		.header__right

			a(href='#' class='header__action') подать заявку

			.header__close