.about

	.about__circle-one
	.about__circle-two
	.about__circle-three
	.about__circle-four
	.about__circle-blur

	.about__container

		.about__title club 500

			.about__titlesub —это

		.about__set

			.about__unit
				.about__unit-num 40
				.about__unit-name стран

			.about__unit
				.about__unit-num 100+
				.about__unit-name меропритяий<br>в год

			.about__unit
				.about__unit-num 500
				.about__unit-name сильнейших<br>резидентов

			.about__unit
				.about__unit-link СТАТЬ<br>РЕЗИДЕНТОВ<br>КЛУБА