.dom
    .dom__counter
        .dom__counter__num 01
        .dom__counter__dot •
        .dom__counter__all 
    .dom__sliders
        .dom__slider__top
            .dom__slider__block(style="background-image:url(img/dom/slider/image1.jpg)")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url(img/dom/slider/image2.jpg)")
                 img(src="#", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url(img/dom/slider/image3.jpg)")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 48.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 49.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 50.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 51.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 52.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 53.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 54.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 55.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 56.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
            .dom__slider__block(style="background-image:url('img/dom/image 57.jpg')")
                 img(src="img/dom/slider/Group.png", alt="").dom__slider_map
                 .dom__slider__top__convert
                     .dom__slider__title Заголовок
                     .dom__slider__sub 
                         |После получения в Лысых Горах известия о смерти князя Андрея при Аустерлицком сражении, старому князю приходит письмо от Кутузова, где сообщается
                     .dom__slider__hrefs
                         a(href="#", target="_blank").dom__slider_a.dom__slider__360
                         a(href="#", target="_blank").dom__slider_a.dom__slider__eye
        .dom__slider__bottom
             .dom__slider__bottom__block
                  img(src="img/dom/slider/image1.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/slider/image2.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/slider/image3.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 48.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 49.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 50.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 51.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 52.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 53.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 54.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 55.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 56.jpg", alt="").dom__slider__bottom_img
             .dom__slider__bottom__block
                  img(src="img/dom/image 57.jpg", alt="").dom__slider__bottom_img
            
