.formats
    .formats__top
        .formats__title ФОРМАТЫ
        .formats__sub КЛУБА
    .formats__blocks
        img(src="img/formats/Ellipse 41.png", alt="").ellipse.ellipse1
        img(src="img/formats/Ellipse 41.png", alt="").ellipse.ellipse2
        img(src="img/formats/Ellipse 41.png", alt="").ellipse.ellipse3
        .formats__block
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title БОЛЬШОЙ СЛЕТ РЕЗИДЕНТОВ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__title БОЛЬШОЙ СЛЕТ РЕЗИДЕНТОВ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            img(src="img/formats/Rectangle 4.jpg", alt="").formats__block_img
        .formats__block.formats__block__circle 
            img(src="img/formats/Ellipse 38.png", alt="").formats__block_img
            div ЭКСКУРСИИ<br>В КОРПОРАЦИИ
        .formats__block
        .formats__block
            .formats__block__title ВСТРЕЧИ СО СПИКЕРОМ
            .formats__block__sub Экслюзивно для резилентов клуба,мы приглашаем самых интересных спикеров из разных сфер.
                <br>Формат проходит в 2 этапа:
                <br><br>Выступление спикера и сессия вопросов от резидентов.
                <br><br>Что решает?
                <br>Глубоко изучаем опыт интереснейших спикеров и крупнейших компаний. Личное знакомство.
                <br>Нетворкинг.
        .formats__block
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            img(src="img/formats/Rectangle 4.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title ИНВЕСТИЦИОННЫЙ КЛУБ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__sub.formats__block__onlySub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block.formats__block__circle 
            img(src="img/formats/Ellipse 38.png", alt="").formats__block_img
            div ONLINE<br>ОБУЧЕНИЕ
        .formats__block
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title БОЛЬШОЙ СЛЕТ РЕЗИДЕНТОВ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__title ЗАКРЫТЫЕ ЧАТЫ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block.formats__block__chat
            img(src="img/formats/Group 2246.png", alt="").formats__block_img
        .formats__block
            img(src="img/formats/Rectangle 3.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title БАННЫЙ НЕТВОРКИНГ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block
            .formats__block__sub.formats__block__onlySub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
        .formats__block.formats__block__circle 
            img(src="img/formats/Ellipse 38.png", alt="").formats__block_img
            div СОВЕТ<br>ДИРЕКТОРОВ
        .formats__block
            img(src="img/formats/Rectangle 4.jpg", alt="").formats__block_img
        .formats__block
            .formats__block__title ЗАКРЫТЫЕ ВЕЧЕРИНКИ
            .formats__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
