.media#media(data-scroll-section="")

    .media__circle-one(data-scroll="" data-scroll-speed="1")
    .media__circle-two(data-scroll="" data-scroll-speed="3")
    .media__circle-three(data-scroll="" data-scroll-speed="2")
    .media__circle-four(data-scroll="" data-scroll-speed="1")

    .media__container

        .media__title СМИ
        .media__sub о нас пишут

        .media__set#media


            each item in media
                .media__box(data-scroll="" data-scroll-class="slideUp")

                    if item !== ''
                        .media__logo(data-modal-id="media-modal-"+item+"")
                            img(src='img/media'+item+'.svg' class='' alt='media__logo')
