.media

	.media__circle-one
	.media__circle-two
	.media__circle-three
	.media__circle-four

	.media__container

		.media__title СМИ

		.media__set

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box

			.media__box

				img(src='img/media1.svg' class='media__logo' alt='media__logo')

			.media__box

				img(src='img/media2.svg' class='media__logo' alt='media__logo')

			.media__box