.poster(data-scroll-section="")
    .poster__title 
    .poster__grid
        .poster__col
            .poster__grid
                .poster__col
                    .poster__plate
                        .poster__month Сент
                .poster__col
                    .poster__plate
                        .poster__img
                            img(src="img/poster-1.jpg", alt="")

        .poster__col.poster__col_lg
