.residents

	.residents__circle-one
	.residents__circle-two
	.residents__circle-three
	.residents__circle-four

	.residents__head

		.residents__title Резиденты

		.residents__titlesub club 500

	.residents__set

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

			.residents__modal.tab

				.residents__modal-cirsleOne
				.residents__modal-cirsleTwo
				.residents__modal-cirsleThree

				img(src='img/resident-detail.png' class='residents__modal-img' alt='Дмитрий Белорусов')

				.residents__modal-head

					.residents__modal-logo club 500 <span class='residents__modal-symbol'>®</span>

					.residents__modal-nav

						.residents__modal-link.tab__item.active(data-tab='achievements') ДОСТИЖЕНИЯ

						.residents__modal-link.tab__item(data-tab='about') О СЕБЕ

					.residents__modal-close

				.residents__modal-body

					.residents__modal-name Дмитрий Белорусов

					.residents__modal-post контент-маркетолог

					.tab__mass.open(id='achievements')

						.residents__modal-facts

							.residents__modal-cell

								.residents__modal-value <span>12</span> лет

								.residents__modal-property экспертизы

							.residents__modal-cell

								.residents__modal-value <span>340</span>

								.residents__modal-property проектов

							.residents__modal-cell

								.residents__modal-value <span>2,2</span> млрд.р

								.residents__modal-property общая прибыль

						.residents__modal-skills

							.residents__modal-topic навыки

							.residents__modal-set
								.residents__modal-elem Оптовая торговля
								.residents__modal-elem Digital

							.residents__modal-set
								.residents__modal-elem Оптовая торговля

						.residents__modal-networks

							a(href='#').residents__modal-icon
								img(src='img/facebook.svg' alt='residents__modal-icon')

							a(href='#').residents__modal-icon
								img(src='img/instagram.svg' alt='residents__modal-icon')

					.tab__mass(id='about')

						.residents__modal-about О СЕБЕ О СЕБЕ О СЕБЕ О СЕБЕ О СЕБЕ


		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Совладелец компании Dating Group

		.residents__box

		.residents__box

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box

		.residents__box

			.residents__picture

				img(src='img/resident.jpg' class='residents__img' alt='Дмитрий Белорусов')

			.residents__content

				.residents__name Дмитрий Белорусов

				.residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

		.residents__box