.residents(data-scroll-section="")

    .residents__circle-one(data-scroll="" data-scroll-speed="1")
    .residents__circle-two(data-scroll="" data-scroll-speed="3")
    .residents__circle-three(data-scroll="" data-scroll-speed="2")
    .residents__circle-four(data-scroll="" data-scroll-speed="1")

    .residents__head

        .residents__title Резиденты

        .residents__titlesub club 500

    .residents__set

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Совладелец компании Dating Group

        .residents__box

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box
