.residents

    .residents__circle-one.residents__circle.parallax(data-depth="0.10")
    .residents__circle-two.residents__circle.parallax(data-depth="0.30")
    .residents__circle-three.residents__circle.parallax(data-depth="0.20")
    .residents__circle-four.residents__circle.parallax(data-depth="0.15")

    .residents__head

        .residents__title Резиденты

        .residents__titlesub club 500

    .residents__set

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Совладелец компании Dating Group

        .residents__box

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box

        .residents__box

            .residents__picture

                img(src='img/resident.jpg' class='residents__img' alt='resident-name')

            .residents__content

                .residents__name Дмитрий Белорусов

                .residents__post Сооснователь международного<br>интернет-холдинга Social Discovery Ventures

        .residents__box
