.speakers

    .speakers__circle-one.speakers__circle.parallax(data-depth="0.10")
    .speakers__circle-two.speakers__circle.parallax(data-depth="0.30")
    .speakers__circle-three.speakers__circle.parallax(data-depth="0.20")
    .speakers__circle-four.speakers__circle.parallax(data-depth="0.15")

    .speakers__head

        .speakers__title спикеры

        .speakers__titlesub club 500

    .speakers__set

        .speakers__box

        .speakers__box

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

                .speakers__content

                    .speakers__name Оскар Хартманн

                    .speakers__post Основатель проектов KupiVIP.ru, Carprice, Aktivo, CarFix

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

                .speakers__content

                    .speakers__name Михаил Кучмент

                    .speakers__post Совладелец Hoff

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')

        .speakers__box

        .speakers__box

            .speakers__item

                img(src='img/speaker.jpg' class='speakers__img' alt='speaker-name')
