.steps

	.steps__container

		.steps__title отбор резидентов club 500

		.steps__set

			.steps__row

				.steps__num 1

				.steps__name заявка

				.steps__num 2

			.steps__row

				.steps__name консультация

			.steps__row

				.steps__num 3

				.steps__name интервью

			.steps__row

				.steps__num 4

				.steps__name проверка

			.steps__row

				.steps__num 5

				.steps__name посвящение

			.steps__action

				.steps__action-text подать 
				.steps__action-text заявку <span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span><span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span><span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span>


.steps__modal

	