.travel#travel(data-scroll-section="") 
    img.paral.paral1(src="img/trips/rf38.png", alt="" data-scroll="" data-scroll-speed="1")
    img.paral.paral2(src="img/trips/rf37.png", alt="" data-scroll="" data-scroll-speed="3")
    img.paral.paral3(src="img/trips/rf36.png", alt="" data-scroll="" data-scroll-speed="2")
    img.paral.paral4(src="img/trips/rf35.png", alt="" data-scroll="" data-scroll-speed="3")
    img.paral.paral5(src="img/trips/rf34.png", alt="" data-scroll="" data-scroll-speed="1")
    .travel__top
        .tavel__switch
            //- button.travel__switch__travel(type="button") TRAVEL
            //- button.travel__switch__business(type="button") BUSINESS TRAVEL
            //- .travel__title TRAVEL
    .travel__title ВЫБЕРИТЕ ПУТЕШЕСТВИЕ МЕЧТЫ <span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span><span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span><span class='steps__action-arrow'><img src='img/steps-arrow.svg'></span>
    .travel__list
        .travel__row
            .travel__item
                .travel__img
                    img(src="img/trips/trips-1.jpg", alt="")
                .travel__plate
                    .travel__date 28<sup class="desktop"><small>11</small></sup>—04<sup class="desktop"><small>12</small></sup> 
                        span.mobile ноября
                    .travel__bottom
                        .travel__name Экспедиция <br>в Эфиопию
                        .travel__under
                            .travel__descr Топ-1 страна в нашем списке. Действующие вулканы, дикие племена и невероятная природа! <br>Мы летим в Эфиопию уже в третий раз.
                            .travel__price sold out <br>
                                span.travel__require Оставить заявку
                .travel__tags
                    .travel__tag Сафари
                    .travel__tag Дичь
                    .travel__tag Эксклюзив

            .travel__item

        .travel__row
            .travel__item
                .travel__img
                    img(src="img/trips/trips-2.jpg", alt="")
                .travel__plate
                    .travel__date 04<sup class="desktop"><small>02</small></sup>—10<sup class="desktop"><small>02</small></sup>
                        span.mobile ноября
                    .travel__bottom
                        .travel__name ROAD-TRIP по бахе калифорнии
                        .travel__under
                            .travel__descr Мексиканская Калифорния с американским уровнем сервиса, мягким климатом, тихоокеанскими пляжами. Баха Калифорния — это как будто отдельное государство в пределах Мексики.
                            .travel__price 7 000 $ <br>
                                span.travel__require Оставить заявку
                    .travel__tags
                        .travel__tag Мексика
                        .travel__tag Баха
                        .travel__tag Пляж
                        .travel__tag Сахара

            .travel__item

        .travel__row
            .travel__item
                .travel__img
                    img(src="img/trips/trips-3.jpg", alt="")
                .travel__plate
                    .travel__date 25<sup class="desktop"><small>02</small></sup>—06<sup class="desktop"><small>03</small></sup>
                        span.mobile ноября
                    .travel__bottom
                        .travel__name Килиманджаро. Мировой рекорд
                        .travel__under
                            .travel__descr Мы поставили перед собой цель подняться на 7 высочайших вулканов всего мира! Для выполнения этой амбициозной цели мы хотим привлечь как можно больше русскоговорящих предпринимателей со всего мира.
                            .travel__price 4 200 $ <br>
                                span.travel__require Оставить заявку
                    .travel__tags
                        .travel__tag 7 вулканов
                        .travel__tag Экстрим
                        .travel__tag Сафари

            .travel__item

        .travel__row.desktop
            a.travel__item.travel__item_any(href="#" target="_blank")
                marquee.travel__block__last(scrollamount="10") ЕЩЕ БОЛЬШЕ ПУТЕШЕСТВИЙ
                marquee.travel__block__last(direction="right") ЕЩЕ БОЛЬШЕ ПУТЕШЕСТВИЙ

            .travel__item
