.trips
    .travel
        .travel__top
            .tavel__switch
                button.travel__switch__travel(type="button") TRAVEL
                button.travel__switch__business(type="button") BUSINESS TRAVEL
            .travel__top__title TRAVEL
            .travel__top__sub ВЫБЕРИТЕ ПУТЕШЕСТВИЕ МЕЧТЫ
                .travel__top__arrows
                    a(href="#", target="_blank").travel__top_a 
                    a(href="#", target="_blank").travel__top_a 
                    a(href="#", target="_blank").travel__top_a
                img(src="img/trips/rf38.png", alt="").paral.paral1
                img(src="img/trips/rf37.png", alt="").paral.paral2
        .travel__blocks
            img(src="img/trips/rf35.png", alt="").paral.paral4
            .travel__blocks__block(style="background-image:url(img/trips/trip1.jpg)")
                .travel__block__date 06 <sup><small>11</small></sup> — 15 <sup><small>11</small></sup>
                .travel__block__bottom
                    .travel__block__title КИЛИМАНДЖАРО.<br>МИРОВОЙ РЕКОРД
                    .travel__block__under
                        .travel__block__sub Ставим мировой рекорд, поднявшись на самую высокую точку Африки в команде предпринимателей!
                        .travel__block__price 350 000 ₽ <br>
                            span.travel__block__require Оставить заявку
            .travel__blocks__block
                img(src="img/trips/rf36.png", alt="").paral.paral3
            .travel__blocks__block
                .travel__block__tags
                    .travel__block__tag 7 вулканов
                    .travel__block__tag Экстрим
                    .travel__block__tag Сафари
            .travel__blocks__block(style="background-image:url(img/trips/trip2.jpg)")
                .travel__block__date 20 <sup><small>11</small></sup> — 23 <sup><small>11</small></sup>
                .travel__block__bottom
                    .travel__block__title Шот-трип<br>в Марокко
                    .travel__block__under
                        .travel__block__sub Яркие краски Марракеша, дивные оазисы среди пустыни и золотистые пески знаменитой Сахары - все это в ждет нас в удивительном Марокко!
                        .travel__block__price 180 000 ₽ <br>
                            span.travel__block__require Оставить заявку
            .travel__blocks__block(style="background-image:url(img/trips/trip3.jpg)")
                .travel__block__date 27 <sup><small>11</small></sup> — 04 <sup><small>11</small></sup>
                .travel__block__bottom
                    .travel__block__title Экспедиция<br>в Эфиопию
                    .travel__block__under
                        .travel__block__sub Топ-1 страна в нашем списке. Действующие вулканы, дикие племена и невероятная природа! Мы летим в Эфиопию уже в третий раз.
                        .travel__block__price 360 000 ₽ <br>
                            span.travel__block__require Оставить заявку
            .travel__blocks__block
                .travel__block__tags
                    .travel__block__tag Сахара
                    .travel__block__tag Экстрим
                    .travel__block__tag Пустыня
                    .travel__block__tag Сахара
            .travel__blocks__block
                .travel__block__tags
                    .travel__block__tag Дичь
                    .travel__block__tag Эксклюзив
                img(src="img/trips/rf34.png", alt="").paral.paral5
            .travel__blocks__block
                .travel__block__last ЕЩЕ БОЛЬШЕ ПУТЕШЕСТВИЙ
                .travel__block__last ЕЩЕ БОЛЬШЕ ПУТЕШЕСТВИЙ
